!!! 5
%html{lang: I18n.locale}
  %head
    %title Broken App
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{name: 'viewport', content: 'initial-scale=1, maximum-scale=1'}
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %main
      .content-container
        = yield
